# do not commit the repo data
repo/*
gpt_dom_vec/*
gpt_code_vec/*
gpt_test_vec/*
gpt_doc_vec/*
angle_dom_vec/*
angle_code_vec/*
angle_test_vec/*
angle_doc_vec/*
archived_gpt_vec/*
archived_gpt_code_vec/*
archived_gpt_test_vec/*
UAE-Large-V1/*
.env